<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brocode_amqp>
            <notifications>
                <threshold>
                    <min_message_count>100</min_message_count>
                    <min_growth_percentage>5</min_growth_percentage>
                    <alert_message_count>300</alert_message_count>
                </threshold>
            </notifications>
        </brocode_amqp>
    </default>
</config>
