<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="brocode_amqp" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1" >
            <label>Amqp Monitor</label>
            <tab>service</tab>
            <resource>BroCode_AmqpMonitor::monitor</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="management_api_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Management Endpoint</label>
                    <comment>e.g. https://amqp-management.test/api/</comment>
                </field>
                <field id="basic_username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BasicAuth Username</label>
                    <comment>If empty, username of amqp-Connection from the Deployment-Configuration will be used</comment>
                </field>
                <field id="basic_password" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BasicAuth Password</label>
                    <comment>If empty, password of amqp-Connection from the Deployment-Configuration will be used</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="notifications" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Notifications</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <group id="threshold" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Threshold</label>
                    <field id="min_message_count" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Message Count</label>
                        <comment>Threshold from when a notification might be issued</comment>
                    </field>
                    <field id="min_growth_percentage" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Min Growth Percentage</label>
                        <comment>Minimum growth percentage between two checks to issue a notification (minimum message count must be reached)</comment>
                    </field>
                    <field id="alert_message_count" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Alert Message Count</label>
                        <comment>No matter the other configurations, if this threshold is crossed a notification is issued</comment>
                    </field>
                </group>

                <group id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>E-Mail</label>
                    <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable E-Mail Notification</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="recipient" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Notification Mail Recipient</label>
                        <comment>Comma separated list of email recipients</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
