<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="brocode_amqp" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1" >
            <label>Amqp Monitor</label>
            <tab>service</tab>
            <resource>BroCode_AmqpMonitor::monitor</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="management_api_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Management Endpoint</label>
                    <comment>e.g. https://amqp-management.test/api/</comment>
                </field>
                <field id="basic_username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BasicAuth Username</label>
                    <comment>If empty, username of amqp-Connection from the Deployment-Configuration will be used</comment>
                </field>
                <field id="basic_password" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BasicAuth Password</label>
                    <comment>If empty, password of amqp-Connection from the Deployment-Configuration will be used</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
